@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 20%);
  --primary: hsl(180 66% 45%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 10% 96%);
  --secondary-foreground: hsl(240 10% 20%);
  --muted: hsl(240 10% 90%);
  --muted-foreground: hsl(240 5% 45%);
  --accent: hsl(180 66% 45%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(240 10% 92%);
  --input: hsl(240 10% 95%);
  --ring: hsl(180 66% 45%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 10% 20%);
  --sidebar-primary: hsl(180 66% 45%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 10% 92%);
  --sidebar-accent-foreground: hsl(240 10% 20%);
  --sidebar-border: hsl(240 10% 92%);
  --sidebar-ring: hsl(180 66% 45%);
  --sb-track-color: hsl(0 0% 95%);
  --sb-thumb-color: var(--color-primary);
  --sb-size: 14px;
}

.dark {
  --background: hsl(240 15% 10%);
  --foreground: hsl(0 0% 95%);
  --card: hsl(240 15% 15%);
  --card-foreground: hsl(0 0% 95%);
  --popover: hsl(240 15% 15%);
  --popover-foreground: hsl(0 0% 95%);
  --primary: hsl(180 66% 50%);
  --primary-foreground: hsl(240 15% 10%);
  --secondary: hsl(240 10% 25%);
  --secondary-foreground: hsl(0 0% 95%);
  --muted: hsl(240 10% 30%);
  --muted-foreground: hsl(240 5% 65%);
  --accent: hsl(180 66% 50%);
  --accent-foreground: hsl(240 15% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(1 240 10% 25%);
  --input: hsl(1 240 10% 22%);
  --ring: hsl(180 66% 50%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 15% 10%);
  --sidebar-foreground: hsl(0 0% 95%);
  --sidebar-primary: hsl(180 66% 50%);
  --sidebar-primary-foreground: hsl(240 15% 10%);
  --sidebar-accent: hsl(240 10% 25%);
  --sidebar-accent-foreground: hsl(0 0% 95%);
  --sidebar-border: hsl(240 10% 25%);
  --sidebar-ring: hsl(180 66% 50%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}
